{# @var craft \craft\web\twig\variables\CraftVariable #}
{% extends '_layouts/cp' %}

{% requirePermission 'ohdear:view-broken-links' %}

{% do view.registerAssetBundle('webhubworks\\ohdear\\assetbundles\\ohdear\\OhDearAsset') %}

{% set title = 'Oh Dear Broken Links'|t('ohdear') %}
{% set selectedSubnavItem = 'broken-links' %}

{% block content %}
    <div id="ohdear-app">
        <broken-links></broken-links>
    </div>
{% endblock %}
