{# @var craft \craft\web\twig\variables\CraftVariable #}
{% extends '_layouts/cp' %}

{% do view.registerAssetBundle('webhubworks\\ohdear\\assetbundles\\ohdear\\OhDearAsset') %}

{% set title = 'Oh Dear Certificate health'|t('ohdear') %}
{% set selectedSubnavItem = 'certificate-health' %}

{% block content %}
    <div id="ohdear-app">
        <certificate-health></certificate-health>
    </div>
{% endblock %}
