{# @var craft \craft\web\twig\variables\CraftVariable #}

{% extends '_layouts/cp' %}

{% requirePermission 'ohdear:view-overview' %}

{% do view.registerAssetBundle('webhubworks\\ohdear\\assetbundles\\ohdear\\OhDearAsset') %}

{% set title = 'Oh Dear Overview'|t('ohdear') %}
{% set selectedSubnavItem = 'overview' %}

{% set isPreCraft34 = craft.app.plugins.plugin('ohdear').isPreCraft34 %}

{# TODO: Can this be done in the plugin base class routing? #}
{% if not craft.app.plugins.plugin('ohdear').settings.isValid() %}
    {% redirect '/' ~ craft.app.config.general.cpTrigger ~ '/settings/plugins/ohdear' %}
{% endif %}

{% block main %}
    <div id="ohdear-app" class="{{ isPreCraft34 ? 'oh-pre-facelift' }}">
        <overview></overview>
    </div>
{% endblock %}
