{# @var craft \craft\web\twig\variables\CraftVariable #}

{% extends '_layouts/cp' %}

{% do view.registerAssetBundle('webhubworks\\ohdear\\assetbundles\\ohdear\\OhDearAsset') %}

{% set title = 'Oh Dear Overview' %}
{% set selectedSubnavItem = 'overview' %}

{# TODO: Can this be done in the plugin base class routing? #}
{% if not craft.app.plugins.plugin('ohdear').settings.isValid() %}
    {% redirect '/admin/settings/plugins/ohdear' %}
{% endif %}

{% block main %}
    <div id="ohdear-app">
        <overview></overview>
    </div>
{% endblock %}
