{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Oh Dear plugin for Craft CMS 3.x
 *
 * Oh Dear Settings.twig
 *
 * @author    webhub GmbH
 * @copyright Copyright (c) 2019 webhub GmbH
 * @link      https://webhub.de
 * @package   OhDear
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{{ forms.autosuggestField({
    label: "Oh Dear API Token"|t('craft-ohdear'),
    id: 'api-token',
    name: 'apiToken',
    value: settings['apiToken'],
    suggestEnvVars: true,
    instructions: 'Please enter your Oh Dear API token. You can create a token on the <a href="https://ohdear.app/user/api-tokens" rel="noopener" target="_blank">Oh Dear API Access page</a>.',
    errors: settings.getErrors('apiToken')
}) }}

{{ forms.autosuggestField({
    label: "Oh Dear Site ID"|t('craft-ohdear'),
    id: 'selected-site-id',
    name: 'selectedSiteId',
    value: settings['selectedSiteId'],
    suggestEnvVars: true,
    instructions: 'Please enter the site ID that is associated to this Craft site. You can find the site ID on the settings page of one of your <a href="https://ohdear.app/sites" rel="noopener" target="_blank">Oh Dear sites</a>.',
    errors: settings.getErrors('selectedSiteId')
}) }}
