{# @var craft \craft\web\twig\variables\CraftVariable #}
{# @var entry \craft\elements\Entry #}
{### Macros #}

{### Data logic #}

{### Template #}
<article class="oh-h-full oh-p-4 oh-flex-col oh-flex oh-bg-white oh-border oh-shadow-craft oh-rounded">
    <header class="oh-mb-4 oh-flex oh-items-center oh-justify-between"><h2 class="oh-mb-0 oh-text-lg">
            {{ heading }}
        </h2>
        <a href="https://ohdear.app/sites/6821/checks/31095/report" class="">
            {{ badge }}
        </a>

    </header>
    <div class="oh-flex-1 oh-flex oh-flex-col oh-py-4 oh-border-b oh-border-t oh-border-gray-200 oh-min-h-32">
        <div class="oh-flex-1 oh-mb-4">
            <div>
                <div>
                    <div>
                        {{ body }}
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div>
                <a href="https://ohdear.app/sites/6821/checks/31095/report" class="oh-text-sm oh-text-gray-600 oh-underline">
                    View the latest report
                </a>
            </div>
        </div>
    </div>
    <section class="oh-mt-4 oh-flex oh-justify-between">
        <label class="oh-text-sm">
            <input type="checkbox" class="check-toggle">
        </label>

        <div class="oh-text-xs oh-text-gray-500">
            <button class="oh-outline-none hover:oh-underline">
                Request new run
            </button>
        </div>

    </section>
</article>
